# === Terraform ===
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# === Python environment ===
.venv
uv.lock
pyproject.toml

# === IDE ===
.idea